/* Compatibilidade do box-sizing nos navegadores */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after,
.container:before {
	content: ' ';
	display: table;
}

.container:after {
	clear: both;
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.grid-1 {
	width: 55px;
}
.grid-2 {
	width: 130px;
}
.grid-3 {
	width: 205px;
}
.grid-4 {
	width: 280px;
}
.grid-5 {
	width: 355px;
}
.grid-6 {
	width: 430px;
}
.grid-7 {
	width: 505px;
}
.grid-8 {
	width: 580px;
}
.grid-9 {
	width: 655px;
}
.grid-10 {
	width: 730px;
}
.grid-11 {
	width: 805px;
}
.grid-12 {
	width: 880px;
}
.grid-13 {
	width: 955px;
}
.grid-14 {
	width: 1030px;
}
.grid-15 {
	width: 1105px;
}
.grid-16 {
	width: 1180px;
}
.grid-1-3 {
	width: 400px;
}
